.navbar__container {
    font-family: "Bebas Neue";
    background-color: black;
    border-bottom: 1px solid white;
    padding: 20px 0;

    &__title {
        font-size: 26px; 
    }

    &__options {
        font-family: roboto;
    }
}

.main__main {
    background-color: black;
}

// 'Bebas Neue', 'fjalla one', teko, squada one
